/*input und rechnen kästchen*/

.container-inputs {
   
    
    width: auto;
    margin-left: auto;
    margin-right: 30%;
    text-align: center;
}

input{

    
    padding: 10px;
    
}
button { 
    padding: 10px;
    margin: 5px;
    text-decoration: none;
}
/*bild*/
.img1 {
    position: absolute;
    width: auto;
    margin-left: 40%;
    top: 30px;
    margin-right: auto;
    text-align: center;
    
    
}
/*background NICHT ÄNDERN zu .area*/
body{
    
    background: #000000;
    background: -webkit-linear-gradient(to left, #000000, #000000);
    font-family: 'Exo', sans-serif;
}
/* CIRCLE */
.circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: white;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 450px;
    right: 290px;
}
.circleLIne {
    height: 1.5px;
    width: 200px;
    background-color: black;
    display: inline-block;
    position: fixed;
    top: 505px;
    right: 388px;
}

.dote {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    position: fixed;
    top: 503px;
    right: 487px;
}


/* rechner button*/
button{
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: black;
}





/* wo ist nutzung dieser klasse?*/
.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}




