/*input und rechnen kästchen*/



input{
    width: 150px;
    
    padding: 10px;
    
}
.container-inputs button { 
    width: 150px;
    padding: 10px;
    margin:12px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    text-align: center;
}
/*bild*/
.img1 {
    position: absolute;
    max-width: 30%;
    height: auto;
    left: 200px;
    top: 26px;
    transition: linear 0.5s;
    
    
}
/* vertikale linie in der mitte */
.middle-line {
    opacity: 1;
    border-left: 6px solid rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
.horizontal-line {
    opacity: 0;
 
    border-top: 6px solid white;
    width: 100%;
   
    position: absolute;
    top: 50%;
    left: 0;
}

/*background NICHT ÄNDERN zu .area*/
body{
    
    background: #000000;
    background: -webkit-linear-gradient(to left, #000000, #000000);
    font-family: 'Exo', sans-serif;
}
/* CIRCLE */
/*
.circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: white;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 450px;
    right: 290px;
}
.circleLIne {
    height: 1.5px;
    width: 200px;
    background-color: black;
    display: inline-block;
    position: fixed;
    top: 505px;
    right: 388px;
}

.dote {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    position: fixed;
    top: 503px;
    right: 487px;
}
*/







/* wo ist nutzung dieser klasse?*/
/*
.context {
    width: 100%;
    position: absolute;
    top:50vh;

}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
*/
@media screen and (max-width: 1100px) {
    body {
        background: rgb(32, 32, 32);
    }
    /*.img1 {
        position: absolute;
        max-width: 40%;
        height: auto;
        left: 10px;
        top: 380px;
        
    }*/
    .img1 {
        position: absolute;
        max-width: 60%;
        height: auto;
        left: 200px;
        top: 26px;
        
    }
    .horizontal-line {
        opacity: 1;
    }
    .middle-line {
        opacity: 0;
    }


}


@media screen and (max-width: 800px) {
    body {
        background: rgb(59, 59, 59);
    }
    .img1 {
        position: absolute;
        max-width: 60%;
        height: auto;
        left: 200px;
        top: 26px;
        
    }
    .horizontal-line {
        opacity: 1;
    }
    .middle-line {
        opacity: 0;
    }


}


