input{
    margin: 5px;
    padding: 10px;
}
.circle {
    width: 200px;
    height: 200px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: white;
    border-style: solid;
    border-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 300px;
    right: 315px;
}
.circleLIne {
    height: 1.5px;
    width: 200px;
    background-color: black;
    display: inline-block;
    position: fixed;
    top: 405px;
    right: 318px;
}

.dote {
    width: 5px;
    height: 5px;
    background: black;
    border-radius: 50%;
    position: fixed;
    top: 403px;
    right: 417px;
}


img {
    position: absolute;
    top: 0px;
    right: 0px;
}
button{
    padding: 10px;
    margin: 5px;
    border-style: solid;
    border-color: black;


}
