/*input und rechnen kästchen*/
input{
    width: 150px;
    
    padding: 10px;
    
}
.container-inputs button { 
    width: 150px;
    padding: 10px;
    margin:12px;
    border-style: solid;
    border-color: black;
    text-decoration: none;
    text-align: center;
}

/*bild*/
.img1 {
    position: absolute;
    max-width: 30%;
    height: auto;
    left: 200px;
    top: 26px;
    
    
    filter: invert(1);
    
    
    
    
}
/* vertikale/horizontale linie in der mitte */
.middle-line {
    opacity: 1;
    border-left: 6px solid rgb(255, 255, 255);
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
  }
.horizontal-line {
    opacity: 0;
 
    border-top: 6px solid white;
    width: 100%;
   
    position: absolute;
    top: 50%;
    left: 0;
}

/*background NICHT ÄNDERN zu .area*/
body{
    background: #222222;
    background: -webkit-linear-gradient(to left, #000000, #000000);
    font-family: 'Exo', sans-serif;
}

@media screen and (max-width: 1200px) {
    body {
        background: #222222;
    }
    .img1 {
        position: absolute;
        max-width: 50%;
        height: auto;
        left: 200px;
        top: 26px;  
    }
    
    .horizontal-line {
        opacity: 1;
    }
    .middle-line {
        opacity: 0;
    }


}


@media screen and (max-width: 800px) {
    body {
        background: #222222;
    }
    .img1 {
        transition: 0.5s;
        max-width: 50%;
          
    }
    .horizontal-line {
        opacity: 1;
    }
    .middle-line {
        opacity: 0;
    }


}


